In [4]:
from collections import namedtuple

Mahasiswa = namedtuple('Mahasiswa', ['NIM', 'nama', 'umur', 'prodi'])
Mahasiswa1 = Mahasiswa(11422031, 'Frans Panjaitan', 21, 'STTRPL')

print("Access nama dengan index: ", Mahasiswa1[1])

Access nama dengan index:  Frans Panjaitan

In [5]:
from collections import namedtuple

Mahasiswa = namedtuple('Mahasiswa', ['NIM', 'nama', 'umur', 'prodi'])
Mahasiswa1 = Mahasiswa(11422031, 'Frans Panjaitan', 21, 'STTRPL')

print("Access name dengan key: ", Mahasiswa1.nama)

Access name dengan key:  Frans Panjaitan

In [6]:
from collections import namedtuple

Mahasiswa = namedtuple('Mahasiswa', ['NIM', 'nama', 'umur', 'prodi'])
Mahasiswa1 = Mahasiswa(11422031, 'Frans Panjaitan', 21, 'STTRPL')

print("Access name using getattr(): ", getattr(Mahasiswa1, 'nama'))

Access name using getattr():  Frans Panjaitan

In [7]:
from collections import namedtuple

# Definisi namedtuple Mahasiswa
Mahasiswa = namedtuple('Mahasiswa', ['NIM', 'nama', 'umur', 'prodi'])

print("Iterable to namedtuple: ")
m1 = Mahasiswa._make([11422031, 'Frans Panjaitan', 21, 'STTRPL'])  # Mengonversi list ke namedtuple
print(m1)

Iterable to namedtuple:
Mahasiswa(NIM=11422031, nama='Frans Panjaitan', umur=21, prodi='STTRPL')

In [8]:
print("Namedtuple to dictionary: ")
print(m1._asdict())

Namedtuple to dictionary:
{'NIM': 11422031, 'nama': 'Frans Panjaitan', 'umur': 21, 'prodi': 'STTRPL'}

In [9]:
print("Dictionary to namedtuple: ")
mahasiswa_dict = {'NIM': 11422031, 'nama': 'Frans Panjaitan', 'umur': 21, 'prodi': 'STTRPL'}
print(Mahasiswa(**mahasiswa_dict))  # Mengonversi dictionary ke namedtuple

Dictionary to namedtuple:
Mahasiswa(NIM=11422031, nama='Frans Panjaitan', umur=21, prodi='STTRPL')

In [10]:
from collections import namedtuple

Mahasiswa = namedtuple('Mahasiswa', ['NIM', 'nama', 'umur', 'prodi'])
frans_panjaitan = Mahasiswa(11422031, 'Frans Panjaitan', 21, 'STTRPL')

print('Field Mahasiswa:', Mahasiswa._fields)

Field Mahasiswa: ('NIM', 'nama', 'umur', 'prodi')

In [11]:
from collections import namedtuple

Mahasiswa = namedtuple('Mahasiswa', ['NIM', 'nama', 'umur', 'prodi'])
frans_panjaitan = Mahasiswa(11422031, 'Frans Panjaitan', 21, 'STTRPL')

print('Mahasiswa baru:', frans_panjaitan._replace(NIM=11422032, nama='Budi Santoso'))

Mahasiswa baru: Mahasiswa(NIM=11422032, nama='Budi Santoso', umur=21, prodi='STTRPL')